html,
body {
    padding: 0;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#viewport {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.turkey-cage {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: skyblue;
}

.jive-turkey {
    position: absolute;
    width: 18vmax;
    height: 18vmax;

    background: no-repeat url("../images/jive-turkey-256.png");
    background-size: 16vmax;
    transform-origin: center center;
    z-index: 55;
}

.falling-santa {
    position: absolute;
    width: 12vmax;
    height: 12vmax;
    background: no-repeat url("../images/santa-fall.png");
    background-size: 12vmax;
    transform-origin: center center;
    z-index: 66;
    animation: SantaFallAnimation 5s 0s;
}

.falling-santa.falling-santa-flipped {
    animation: SantaFallAnimationFlipped 5s 0s;
}

@keyframes SantaFallAnimation {
    0% {
        transform: translate3d(0, 0, 0) rotate(-20deg);
        opacity: 1;
    }

    99% {
        transform: translate3d(-230px, 150vh, 0) rotate(-120deg);
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes SantaFallAnimationFlipped {
    0% {
        transform: translate3d(0, 0, 0) rotate(20deg);
        opacity: 1;
    }

    99% {
        transform: translate3d(230px, 150vh, 0) rotate(120deg);
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.jive-turkey .bitch-ass-santa {
    position: absolute;
    width: 12vmax;
    height: 12vmax;
    right: 3vmax;
    bottom: -6vmax;
    background: no-repeat url("../images/santa-fall.png");
    background-size: 12vmax;
    transform-origin: center center;
    z-index: 66;
    display: none;
}

.jive-turkey.has-santa .bitch-ass-santa {
    display: block;
}

.counter-target {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 40px;
    padding: 40px 80px;
    border: 2px solid brown;
    font-size: 40px;
    text-align: center;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
}

#turkey-count {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
    z-index: 999;
    font-weight: bold;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
#add-turkey {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: green;
    color: white;
    border-radius: 10px;
    border: 2px solid lime;
    padding: 15px 15px;
    font-size: 20px;
    z-index: 999;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#add-turkey:hover {
    color: lime;
    background: black;
    border-color: green;
}

@media (max-width: 961px) {
    #add-turkey {
        left: 20px;
        width: calc(100% - 40px);
        font-size: 16px;
    }
    #turkey-count {
        /* right: 50%; */
        left: 50%;
        bottom: 100px;
        font-size: 16px;
        transform: translate(-50%, 0);
    }
}
